
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.nav{
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 16vh;
    border-bottom: #004797 5px solid ;
    align-items: center;
}
.nav .logo{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 8%;
    align-items: center;
}

.nav button{
    cursor: pointer;
    position: absolute;
    right: 8%;
    width: 175px;
    height: 52px;
    background: #00B6F0;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    transition: .5s ease;
}
.nav button:hover{
    background: #004797;
    width: 180px;
    right: 7.8%;
}
.nav button a{
    color:#fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1rem 2.9rem;
}
.nav h1{
    color: #015ac0;
    font-size: 2.5rem;
    font-weight: bold;

}

/* --------------------------------------- */
.sec-1{
    display: flex;
    height: 75vh;
    border-bottom: #004797 1px solid ;
    background-image: url("./img/valmap.png");
    background-size: 100%;
}
.sec-1 .mobile-img{
    display: flex;
    position: absolute;
<<<<<<< HEAD
    right: 0;
    left: 70%;
    top: 20%;
    width: 21%;
    z-index: 2;
=======
    right: 8%;
    top: 20%;
}
.sec-1 .text {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15%;
    padding-top: 5%;
    color: white;
}
.sec-1 h1{
    font-size: 450%;
    
}
.sec-1 p{
    font-size: 180%;
    line-height: 1cm;
    
>>>>>>> 91f3bde445e5eb46aa005266014a99f009af6bfd
}
.sec-1 .img-container{
    display: flex;
    height: 88%;
    width: 20%;
    left: 70.5%;
    top: 21.2%;
    border-radius: 10%;
    position: absolute;
    background: url("./img/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 16s infinite ;
}

/* --------------------------------------- */
.sec-2{
    display: flex;
    background: #f3f6f9;
    height: auto;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.row{
    display: flex;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    align-items: center;
}
.column{
    text-align: center;
}

.sec-2 p{
    display: block;
    text-align: center;
    line-height: .5cm;
}
/* --------------------------------------- */
.sec-3{
    display: flex;
    height: 70vh;
    border-bottom: #004797 2px solid ;
    
}
.sec-3 .logo-img{
    position: absolute;
    right: 8%;
    padding-top: 8%;
    float: right;
    
}
.sec-3 .text{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15%;
    padding-top: 10%;
    color: black;
}
.sec-3 h1{
    font-size: 200%;
}
.sec-3 p{
    font-size: 100%;
    line-height: .7cm;
}
.sec-3 button{
    cursor: pointer;
    position: absolute;
    left: 15%;
    top: 160%;
    width: 175px;
    height: 52px;
    background: #00B6F0;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    transition: .5s ease;
}
.sec-3 button:hover{
    background: #004797;
    width: 180px;
    right: 7.8%;
}
.sec-3 button a{
    color:#fff;
    text-decoration: none;
    font-size: 1.1rem;
}

/* --------------------------------------- */
.sec-4{
    display: flex;
    height: 100vh;
    border-bottom: #004797 2px solid ;
}
/* --------------------------------------- */
.sec-5{
    display: flex;
    height: 100vh;
    border-bottom: #004797 2px solid ;
    background: #f3f6f9;
}
/* --------------------------------------- */
footer{
    display: flex;
    height: 40vh;
<<<<<<< HEAD
    background: #004797;
}

@keyframes slide {
    25%{
        background-image: url("./img/img1.jpg");
    }
 
    50%{
        background-image: url("./img/img2.png");
    }

    75%{
        background-image: url("./img/img3.png");
    }
    100%{
        background-image: url("./img/img3.png");
    }

}
=======
    background: #21303e;
}
>>>>>>> 91f3bde445e5eb46aa005266014a99f009af6bfd
